services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: development # Use 'production' target in prod
    container_name: stankom-api
    ports:
      - '${PORT}:${PORT}' # Use PORT from .env
      - '9229:9229' # Debugging port
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules # Isolate node_modules
    # command: pnpm run start:debug
    depends_on:
      db:
        condition: service_healthy # Wait for DB to be ready
    networks:
      - nestjs-network

  db:
    image: postgres:17-alpine
    container_name: stankom-db
    restart: always
    ports:
      - '${DB_PORT}:5432'
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_NAME}']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - nestjs-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: stankom-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: postgres
    ports:
      - '5050:80'
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - nestjs-network

networks:
  nestjs-network:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data: